.filter {
    align-items: center;
}

.filter h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    padding-top: 90px;
}

.detail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    margin-top: 1rem;
    gap: 2rem;
    border-radius: 8px;

}

.detail-card {
    min-height: 290px;
    height: 100%;
    background-color: #fff;
    margin: 1% 0;
    cursor: pointer;
}

.detail-img {
    width: 250px;
    height: 280px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.95);
    padding-left: 20px;
    margin-left: 10px;
}

.detail-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 100%;
}

.detail-name {
    font-size: 16px;
    color: black;
    letter-spacing: 0.5;

}


.detail-card:hover .detail-img {
    filter: opacity(1);
}