 .site-header {
     background-color: rgb(255, 255, 255);
     color: rgb(20, 1, 1);
     padding: 20px 30px;
     display: flex;
     justify-content: space-between;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     border-bottom: 1px solid #3f3b4a;
 }

 .left-menu ul,
 .right-menu ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
 }

 .left-menu li,
 .right-menu li {
     margin-right: 20px;
 }

 .left-menu a,
 .right-menu a {
     color: black;
     text-decoration: none;
 }

 .left-menu a:hover,
 .right-menu a:hover {
     background: whitesmoke;
 }

 .login-dropdown {
     position: relative;
 }

 .help {
     border-bottom: 1px solid #3f3b4a;
     padding-bottom: 10px;
     width: 100%;
 }

 .login-dropdown .dropdown-menu {
     display: none;
     position: absolute;
     background-color: #fff;
     padding: 10px;
     top: 51.6px;
     right: 0;
     z-index: 1000;
     width: 200px;
     border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
     animation: slideDown 0.8s ease forwards;
 }

 .login-dropdown.open .dropdown-menu {
     display: block;
     animation: slideDown 0.8s ease forwards;
 }

 @keyframes slideDown {
     from {
         opacity: 0;
         transform: translateY(-10px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .dropdown-menu li {
     margin-bottom: 5px;
 }

 .dropdown-menu a {
     color: black;
     text-decoration: none;
 }

 .dropdown-menu a:hover {
     background: #94919c;
 }